#!KAMAILIO

####### Global Parameters #########

debug=2
log_stderror=yes
memdbg=5
memlog=5

fork=no
children=8
tcp_accept_no_cl=yes
tcp_connection_lifetime=3605

listen=udp:0.0.0.0:5060
listen=tcp:0.0.0.0:5060
listen=tcp:0.0.0.0:5066

#!define WITH_WEBSOCKETS

####### Modules Section ########

loadmodule "sl.so"
loadmodule "tm.so"
loadmodule "rr.so"
loadmodule "maxfwd.so"
loadmodule "textops.so"
loadmodule "xlog.so"
loadmodule "siputils.so"
loadmodule "nathelper.so"
loadmodule "path.so"
loadmodule "xhttp.so"
loadmodule "kex.so"
loadmodule "pv.so"
loadmodule "sanity.so"
loadmodule "usrloc.so"
loadmodule "registrar.so"
loadmodule "websocket.so"

modparam("usrloc", "db_mode", 0)
modparam("registrar", "method_filtering", 1)
modparam("registrar", "use_path", 1)
modparam("registrar", "path_mode", 2)
modparam("registrar", "path_use_received", 1)
modparam("nathelper", "received_avp", "$avp(RECEIVED)")
modparam("registrar", "received_avp", "$avp(RECEIVED)")
modparam("websocket", "keepalive_mechanism", 0)

request_route {
    force_rport();

    if (is_method("REGISTER|INVITE|ACK|BYE|CANCEL")) {
        xlog("L_INFO", "REQ $rm from $fu to $ru callid=$ci src=$si:$sp\n");
    }

    if (!mf_process_maxfwd_header("10")) {
        sl_send_reply("483", "Too Many Hops");
        exit;
    }

    if (!sanity_check("1511", "7")) {
        xlog("L_WARN", "Malformed SIP message from $si:$sp\n");
        exit;
    }

    if (has_totag()) {
        if (loose_route()) {
            if (!t_relay()) {
                sl_reply_error();
            }
            exit;
        }

        if (is_method("ACK|BYE|CANCEL")) {
            if (!t_relay()) {
                sl_reply_error();
            }
            exit;
        }

        sl_send_reply("404", "Dialog Not Found");
        exit;
    }

    if (is_method("OPTIONS") && uri==myself) {
        sl_send_reply("200", "Keepalive");
        exit;
    }

    if (is_method("REGISTER")) {
        fix_nated_register();
        add_path_received();
        if (!save("location")) {
            sl_reply_error();
        }
        exit;
    }

    if (is_method("INVITE")) {
        record_route();
        t_on_reply("INVITE_REPLY");

        if (!lookup("location")) {
            xlog("L_INFO", "INVITE lookup failed for R-URI=$ru callid=$ci\n");
            sl_send_reply("404", "User Not Registered");
            exit;
        }

        if (!t_relay()) {
            sl_reply_error();
        }
        exit;
    }

    if (is_method("ACK|BYE|CANCEL|INFO|MESSAGE|NOTIFY|UPDATE|PRACK|REFER")) {
        if (!t_relay()) {
            sl_reply_error();
        }
        exit;
    }

    if (!is_method("REGISTER|INVITE|ACK|BYE|CANCEL|OPTIONS|INFO|MESSAGE|NOTIFY|UPDATE|PRACK|REFER")) {
        sl_send_reply("405", "Method Not Allowed");
        exit;
    }

    sl_send_reply("404", "Not Here");
}

event_route[xhttp:request] {
    if ($Rp != 5066) {
        xhttp_reply("404", "Not Found", "", "");
        exit;
    }

    if ($rm == "GET" && $hdr(Upgrade)=~"websocket" && $hdr(Connection)=~"Upgrade") {
        if (ws_handle_handshake()) {
            exit;
        }
    }

    xhttp_reply("404", "Not Found", "", "");
}

onreply_route[INVITE_REPLY] {
    xlog("L_INFO", "INVITE-REPLY status=$rs reason=$rr callid=$ci src=$si:$sp\n");
}
