<!doctype html>
<html lang="en" class="no-js">

<head>
    <!-- Title and Icon -->

    <title>Cogo One, Free Video Calls, Messaging and Screen Sharing</title>
    <link rel="shortcut icon" href="https://admin.cogoport.com/v2/favicon.ico" />
    <link rel="apple-touch-icon" href="https://admin.cogoport.com/v2/favicon.ico" />

    <!-- Meta Information -->

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="description" content="Cogo meet Join Meeting Using Simple Link" />

    <meta property="og:type" content="app-webrtc" />
    <meta property="og:site_name" content="Cogo One" />
    <meta property="og:title" content="Click the link to make a call." />
    <meta property="og:description"
        content="Cogo One calling provides real-time video calls, messaging and screen sharing." />
    <meta property="og:image" content="" />

    <!-- StyleSheet -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="../css/landing.css" />

    <!-- Js scripts -->

    <script async src="../js/Umami.js"></script>
    <script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <script src="https://rawgit.com/leizongmin/js-xss/master/dist/xss.js"></script>
</head>

<body class="is-boxed has-animations">
    <div class="body-wrap">
        <header class="site-header">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand">
                        <div class="m-0">
                            <a href="/">
                                <img class="header-logo-image" src="https://admin.cogoport.com/v2/favicon.ico"
                                    alt="Cogoport logo" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <section class="hero reveal-from-bottom">
                <div class="container">
                    <div class="hero-inner">
                        <div class="hero-copy">
                            <h1 class="hero-title mt-0">
                                Cogo One<br />Empowering Conversations, <br/> Limitless Connections 
                            </h1>
                            <p class="hero-paragraph">
                                Seamless Calls, Endless Possibilities. Elevate Your Communication Game with CogoOne!
                            </p>
                        </div>
                        <div class="hero-figure anime-element">
                            <img src="../svg/group_call.svg" />
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>

    <script defer src="../js/landing.js"></script>
    <script>
        // if it is open by some window.open()
        try {
            window.close()
        }
        catch (err) {
            console.log(err)
        }
    </script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>

</html>