<!doctype html>
<html lang="en" class="no-js">
    <head>
        <!-- Title and Icon -->

        <title>Cogo One - Create your Room name and start the new call.</title>
        <link rel="shortcut icon" href="https://admin.cogoport.com/v2/favicon.ico" />
        <link rel="apple-touch-icon" href="https://admin.cogoport.com/v2/favicon.ico" />

        <!-- Meta Information -->

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta
            name="description"
            content="Cogo One powered by WebRTC and mediasoup, Real-time secure video calls, messaging and screen sharing capabilities in the browser."
        />
        <meta
            name="keywords"
            content="webrtc, miro, mediasoup, mediasoup-client, self hosted, voip, sip, real-time communications, chat, messaging, meet, webrtc stun, webrtc turn, webrtc p2p, webrtc sfu, video meeting, video chat, video conference, multi video chat, multi video conference, peer to peer, p2p, sfu, rtc, alternative to, zoom, microsoft teams, google meet, jitsi, meeting"
        />

        <!-- https://ogp.me -->

        <meta property="og:type" content="app-webrtc" />
        <meta property="og:site_name" content="Cogo One" />
        <meta property="og:title" content="Click the link to make a call." />
        <meta
            property="og:description"
            content="Cogo One calling provides real-time video calls, messaging and screen sharing."
        />
        <meta property="og:image" content="https://sfu.mirotalk.com/images/mirotalksfu.png" />

        <!-- StyleSheet -->

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
        <link rel="stylesheet" href="../css/landing.css" />

        <!-- Js scripts -->

        <script async src="../js/Umami.js"></script>
        <script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>
        <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
        <script src="https://rawgit.com/leizongmin/js-xss/master/dist/xss.js"></script>
    </head>
    <body class="is-boxed has-animations">
        <div class="body-wrap">
            <header class="site-header">
                <div class="container">
                    <div class="site-header-inner">
                        <div class="brand header-brand">
                            <h1 class="m-0">
                                <a href="/">
                                    <img class="header-logo-image" src="https://admin.cogoport.com/v2/favicon.ico" alt="Logo" />
                                </a>
                            </h1>
                        </div>
                    </div>
                </div>
            </header>

            <main>
                <section class="hero">
                    <div class="container">
                        <div class="hero-inner">
                            <div class="hero-copy reveal-from-bottom">
                                <h1 class="hero-title mt-0">
                                    Pick name. <br />
                                    Share URL. <br />
                                    Start conference.
                                </h1>
                                <p class="hero-paragraph">
                                    Each room has its disposable URL. Just pick a room name and share your custom URL.
                                    It's that easy.
                                </p>
                            </div>
                            <div class="hero-figure anime-element">
                                <img src="https://cdn.cogoport.io/cms-prod/cogo_admin/vault/original/empty-chat.jpg"/>
                            </div>
                        </div>
                    </div>
                </section>

                <hr />

                <section class="cta section">
                    <div class="container">
                        <div class="cta-inner section-inner br-12">
                            <h3 class="section-title mt-0">
                                Pick a room name.<br />
                                How about this one?
                            </h3>
                            <div>
                                <div class="mb-24">
                                    <label for="roomName"></label>
                                    <div class="form-group-desktop">
                                        <input
                                            id="roomName"
                                            class="form-input"
                                            type="text"
                                            maxlength="36"
                                            value=""
                                            style="border-radius: 6px"
                                        />
                                        <button
                                            id="genRoomButton"
                                            class="button button-primary br-6 mr-8 mb-8 fas fa-arrows-rotate"
                                            onclick="genRoom()"
                                        ></button>
                                        <button
                                            id="joinRoomButton"
                                            class="button button-primary pulse"
                                            onclick="joinRoom()"
                                        >
                                            Join Room
                                        </button>
                                        <script>
                                            document.getElementById('roomName').onkeyup = (e) => {
                                                if (e.keyCode === 13) {
                                                    e.preventDefault();
                                                    joinRoom();
                                                }
                                            };
                                            function genRoom() {
                                                document.getElementById('roomName').value = getUUID4();
                                            }
                                            function getUUID4() {
                                                return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, (c) =>
                                                    (
                                                        c ^
                                                        (crypto.getRandomValues(new Uint8Array(1))[0] & (15 >> (c / 4)))
                                                    ).toString(16),
                                                );
                                            }
                                            function joinRoom() {
                                                const roomName = filterXSS(document.getElementById('roomName').value);
                                                if (roomName) {
                                                    window.location.href = '/join/' + roomName;
                                                    window.localStorage.lastRoom = roomName;
                                                } else {
                                                    alert('Room name empty!\nPlease pick a room name.');
                                                }
                                            }
                                        </script>
                                    </div>
                                </div>
                                <div id="lastRoomContainer" class="last-room">
                                    <span>Your recent room:</span>
                                    <a id="lastRoom"></a>
                                </div>
                                <script>
                                    const lastRoomContainer = document.getElementById('lastRoomContainer');
                                    const lastRoom = document.getElementById('lastRoom');
                                    const lastRoomName = window.localStorage.lastRoom
                                        ? window.localStorage.lastRoom
                                        : '';
                                    if (lastRoomName) {
                                        lastRoomContainer.style.display = 'inline-flex';
                                        lastRoom.setAttribute('href', '/join/' + lastRoomName);
                                        lastRoom.innerText = lastRoomName;
                                    }
                                </script>
                            </div>
                        </div>
                    </div>
                </section>
            </main>

            <footer class="site-footer">
                <div class="container">
                    <div class="site-footer-inner">
                        <div class="brand footer-brand">
                            <a href="/">
                                <img class="header-logo-image" src="https://admin.cogoport.com/v2/favicon.ico" alt="Logo" />
                            </a>
                        </div>
                        <div class="footer-copyright">&copy; 2023 Cogo One, all rights reserved</div>
                    </div>
                </div>
            </footer>
        </div>

        <script defer src="../js/landing.js"></script>
        <script defer src="../js/newRoom.js"></script>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
    </body>
</html>
