.pls-container {
    z-index: 5;
    position: absolute;
    background: var(--body-bg);
    padding: 20px;
    border-radius: var(--border-radius);
    border: var(--border);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 700px;
    overflow: hidden;
}

.poll-header {
    display: inline-flex;
    text-align: left;
    margin-bottom: 20px;
    width: 100%;
    cursor: move;
}

.polls {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.poll-creation {
    border-radius: var(--border-radius);
    margin-bottom: 20px;
    max-height: 480px;
    overflow: hidden;
}

.poll-h1,
.poll-h2,
.poll-h3 {
    margin-top: 5px;
    color: #fff !important;
}

.form {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    overflow-x: hidden;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 15px;
}

.form label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #fff;
}

.form input {
    padding: 10px;
    border: var(--border);
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.poll-btns {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.poll-btn {
    padding: 10px 15px;
    background: var(--body-bg);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

.poll-btn:hover {
    background: var(--btns-bg-color) !important;
    color: #fff;
}

.del-btn {
    padding: 10px 15px;
    background: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

.del-btn:hover {
    background: #c82333;
    color: #fff;
}

.polls-container {
    margin-top: 20px;
    margin-bottom: 70px;
}

.poll {
    background: var(--body-bg);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.poll .options {
    margin-top: 10px;
}

.poll .options div {
    margin-bottom: 5px;
}

.poll ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.poll ul li {
    background: var(--body-bg);
    padding: 8px;
    border: var(--border);
    border-radius: 4px;
    margin-bottom: 5px;
    color: #fff;
}

.options input {
    cursor: pointer;
}

.options label {
    margin-left: 5px;
    color: #fff;
}

.view-btn {
    padding: 10px 15px;
    background: var(--body-bg);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

.view-btn:hover {
    background: var(--btns-bg-color) !important;
    color: #fff;
}

.poll-header-btns {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    position: absolute;
    float: right;
    right: 20px;
    font-size: 1.3rem;
}
